.mainImage {
    background-image: url('https://smoktravel.by/upload/medialibrary/f75/yuriy_garnaev_395878_unsplash.jpg'),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 450px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
}

.TextInImg {
    padding-top: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: whitesmoke;
    font-size: 150%;

}
